@tailwind base;
@tailwind components;
@tailwind utilities;

#webcrafters-scoreboard {
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background: #9CDABC;
    --prime: #007681;
    --alt: #63666A;
    --numbers: #CF578A;
}